/**
 * @utility utility-name
 * @description Utility description
 * -----------------------------------------------------------------------------
 */

.u-color--text {
  color: $text-color;
}

.u-color--white {
  color: #fff;
}

.u-color--green {
  color: $brand-green;
}
