.icon {
  display: inline-block;
}

.icon--circle {
  border-radius: 20px;
  width: 32px;
  height: 32px;
  border: 2px solid $border-color;
  transition: background-color 0.3s;
}

.icon--times {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: 26px;
  background-position: 50%;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 102 102' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.225 98.716L98.711 3.23m-95.486.001l95.486 95.486' stroke='%23000' stroke-width='8.333' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E");
}
