/**
 * @namespace `u-`
 * @block `offset`
 * -----------------------------------------------------------------------------
 */

.u-offset-1 { margin-left: (100% / 12) !important; }
.u-offset-2 { margin-left: (100% / 12 * 2) !important; }
.u-offset-3 { margin-left: (100% / 12 * 3) !important; }
.u-offset-4 { margin-left: (100% / 12 * 4) !important; }
.u-offset-5 { margin-left: (100% / 12 * 5) !important; }
.u-offset-6 { margin-left: (100% / 12 * 6) !important; }
.u-offset-7 { margin-left: (100% / 12 * 7) !important; }
.u-offset-8 { margin-left: (100% / 12 * 8) !important; }
.u-offset-9 { margin-left: (100% / 12 * 9) !important; }
.u-offset-10 { margin-left: (100% / 12 * 10) !important; }
.u-offset-11 { margin-left: (100% / 12 * 11) !important; }

@include media-above("sm") {
  .u-offset-1--sm { margin-left: (100% / 12) !important; }
  .u-offset-2--sm { margin-left: (100% / 12 * 2) !important; }
  .u-offset-3--sm { margin-left: (100% / 12 * 3) !important; }
  .u-offset-4--sm { margin-left: (100% / 12 * 4) !important; }
  .u-offset-5--sm { margin-left: (100% / 12 * 5) !important; }
  .u-offset-6--sm { margin-left: (100% / 12 * 6) !important; }
  .u-offset-7--sm { margin-left: (100% / 12 * 7) !important; }
  .u-offset-8--sm { margin-left: (100% / 12 * 8) !important; }
  .u-offset-9--sm { margin-left: (100% / 12 * 9) !important; }
  .u-offset-10--sm { margin-left: (100% / 12 * 10) !important; }
  .u-offset-11--sm { margin-left: (100% / 12 * 11) !important; }
}

@include media-above("md") {
  .u-offset-1--md { margin-left: (100% / 12) !important; }
  .u-offset-2--md { margin-left: (100% / 12 * 2) !important; }
  .u-offset-3--md { margin-left: (100% / 12 * 3) !important; }
  .u-offset-4--md { margin-left: (100% / 12 * 4) !important; }
  .u-offset-5--md { margin-left: (100% / 12 * 5) !important; }
  .u-offset-6--md { margin-left: (100% / 12 * 6) !important; }
  .u-offset-7--md { margin-left: (100% / 12 * 7) !important; }
  .u-offset-8--md { margin-left: (100% / 12 * 8) !important; }
  .u-offset-9--md { margin-left: (100% / 12 * 9) !important; }
  .u-offset-10--md { margin-left: (100% / 12 * 10) !important; }
  .u-offset-11--md { margin-left: (100% / 12 * 11) !important; }
}

@include media-above("lg") {
  .u-offset-1--lg { margin-left: (100% / 12) !important; }
  .u-offset-2--lg { margin-left: (100% / 12 * 2) !important; }
  .u-offset-3--lg { margin-left: (100% / 12 * 3) !important; }
  .u-offset-4--lg { margin-left: (100% / 12 * 4) !important; }
  .u-offset-5--lg { margin-left: (100% / 12 * 5) !important; }
  .u-offset-6--lg { margin-left: (100% / 12 * 6) !important; }
  .u-offset-7--lg { margin-left: (100% / 12 * 7) !important; }
  .u-offset-8--lg { margin-left: (100% / 12 * 8) !important; }
  .u-offset-9--lg { margin-left: (100% / 12 * 9) !important; }
  .u-offset-10--lg { margin-left: (100% / 12 * 10) !important; }
  .u-offset-11--lg { margin-left: (100% / 12 * 11) !important; }
}

@include media-above("xl") {
  .u-offset-1--xl { margin-left: (100% / 12) !important; }
  .u-offset-2--xl { margin-left: (100% / 12 * 2) !important; }
  .u-offset-3--xl { margin-left: (100% / 12 * 3) !important; }
  .u-offset-4--xl { margin-left: (100% / 12 * 4) !important; }
  .u-offset-5--xl { margin-left: (100% / 12 * 5) !important; }
  .u-offset-6--xl { margin-left: (100% / 12 * 6) !important; }
  .u-offset-7--xl { margin-left: (100% / 12 * 7) !important; }
  .u-offset-8--xl { margin-left: (100% / 12 * 8) !important; }
  .u-offset-9--xl { margin-left: (100% / 12 * 9) !important; }
  .u-offset-10--xl { margin-left: (100% / 12 * 10) !important; }
  .u-offset-11--xl { margin-left: (100% / 12 * 11) !important; }
}
