.bottom {
  background-color: $brand-black;
  padding: $space-md $space;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 300;

  @include media-above("lg") {
    padding: $space-md;
  }
}

.bottom__logo--desktop {
  display: none;

  @include media-above("md") {
    display: block;
    flex-shrink: 0;
  }
}

.bottom__logo--mobile {
  display: block;
  flex-shrink: 0;

  @include media-above("md") {
    display: none;
  }
}

.bottom__nav {
  margin-bottom: $space-md;
  margin-top: $space;
  position: relative;

  @include media-above("md") {
    margin-top: $space-xl;
    margin-bottom: $nav-height;
  }

  ul {
    display: flex;
    flex-direction: row;

    @include media-below("xl") {
      justify-content: space-between;
    }
  }

  li {
    margin-right: $space;

    @include media-above("xl") {
      margin-right: $space-lg;
    }

    &:last-child {
      @include media-above("xl") {
        margin-left: auto;
      }

      margin-right: 0;
    }

    &:nth-child(2),
    &:nth-child(3) {
      @include media-below("lg") {
        display: none;
      }
    }
  }
  a,
  span {
    color: #fff;
    display: block;
    line-height: 1.5;
  }

  a:hover {
    text-decoration: underline;
  }
}
