/**
 * @block `header`
 * -----------------------------------------------------------------------------
 */

.header {
  height: calc(100vh - 70px);

  width: 100%;
  display: flex;
  flex-direction: column;

  @include media-above("lg") {
    min-height: 800px;
  }

  @include media-above("xl") {
    height: calc(100vh - 80px);
  }
}

.header__logo {
  background-color: $brand-light-blue;
  padding: $space-sm $space;

  @include media-above("md") {
    padding: $space $space-md;
  }

  svg {
    display: block;
  }
}

.header__sliders {
  display: flex;
  flex: 1;
  flex-direction: column;

  @include media-above("lg") {
    flex-direction: row;
    position: relative;
    z-index: 100;
  }
}
