/**
 * @block `heading`
 * -----------------------------------------------------------------------------
 */

 .heading--xs {
   font-size: $text-xs;
 }

 .heading--sm {
   font-size: $text-sm;
 }

 .heading--md {
   font-size: $text-md;
 }

 .heading--lg {
   font-size: $text-lg;
 }

 .heading--xl {
   font-size: $text-xl;
 }

 .heading--xxl {
   font-size: $text-xxl;
 }
