/**
 * @block `header`
 * -----------------------------------------------------------------------------
 */

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  @include media-above("xl") {
    height: calc(100vh - 80px);
  }
}

.header__logo {
  background-color: $brand-light-blue;
  padding: $space-sm $space;

  @include media-above("md") {
    padding: $space $space-md;
  }

  svg {
    display: block;
    max-height: 180px;
  }
}

.header__sliders {
  flex: 1;
}

.header__row {
  display: flex;
  flex-direction: column;
  height: 100%;

  @include media-above("lg") {
    flex-direction: row;
    align-items: stretch;
  }
}
