/**
 * @block `header`
 * -----------------------------------------------------------------------------
 */

.header__logo {
  background-color: $brand-light-blue;
  padding: $space-sm $space;

  @include media-above("md") {
    padding: $space $space-md;
  }

  svg {
    display: block;
  }
}
