.main-slider--two,
.main-slider--one {
  width: 100%;
  min-height: 100%;
  position: relative;

  @include media-above("lg") {
    width: 50%;
  }
}

.slider-chuj {
  .slick-track {
    display: flex;
    border: 1px solid red;
  }
  .slick-track .slick-slide {
    display: flex;
    height: auto;
  }
}

.main-slider--two {
  background-color: $brand-gray;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include media-above("lg") {
    border-left: 3px solid $border-color;
  }
}

.main-slider--one {
  border: 1px solid red;
  position: relative;
}

.main-slider__slide--top {
  border: 1px solid green;
  height: 0;
  min-height: 100%;
}

.main-slider__item {
  position: relative;

  img {
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.main-slider__slider {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.main-slider__photo {
  flex-shrink: 0;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-slider__content {
  display: flex;
  padding: 0 $space $space;
  width: 100%;
  min-height: 100%;
  background-color: $brand-gray;
  flex-direction: column-reverse;

  @include media-above("lg") {
    padding: 0 $space-md $space-md;
  }
}

.main-slider__title {
  span,
  p {
    font-size: $text-md;
    line-height: 1.05;

    @include media-above("xs") {
      font-size: $text-lg;
    }

    @include media-above("lg") {
      font-size: 4vw;
    }
  }
}

.main-slider__button {
  margin-bottom: $space;
  outline: 0;

  @include media-above("lg") {
    margin-bottom: $space-md;
  }
}

.main-slider__static {
  padding: $space $space 0;

  @include media-above("lg") {
    padding: $space-md $space-md 0;
  }

  h1 {
    font-size: $text-md;
    line-height: 1.05;
    text-decoration: underline;

    @include media-above("xs") {
      font-size: $text-lg;
    }

    @include media-above("lg") {
      font-size: 4vw;
    }
  }
}
