.main-slider--two,
.main-slider--one {
  width: 100%;

  @include media-above("lg") {
    width: 50%;
  }
}

.main-slider--two {
  background-color: $brand-gray;

  @include media-above("lg") {
    border-left: 3px solid $border-color;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
  }

  @include media-below("lg") {
    margin-top: -8px;
    border-top: 2px solid $border-color;
  }
}

.main-slider--one {
  .slick-slider,
  .slick-list,
  .slick-track,
  .slick-slide,
  .slick-slide > div {
    height: 100%;
  }

  .main-slider__slide--top {
    position: relative;
    height: 100%;

    @include media-below("lg") {
      height: 500px;
    }
  }
}

.main-slider__photo {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-slider__content {
  display: flex;
  padding-bottom: $space;
  background-color: $brand-gray;
  flex-direction: column;
}

.main-slider__title {
  span,
  p {
    font-size: $text-md;
    line-height: 1.05;

    @include media-above("xs") {
      font-size: $text-lg;
    }

    @include media-above("lg") {
      font-size: 4vw;
    }
  }
}

.main-slider__button {
  outline: 0;

  @include media-above("lg") {
    margin-bottom: $space-md;
  }
}

.main-slider__static {
  padding: $space $space 0;

  @include media-above("lg") {
    padding: $space-md $space-md $space-md;
  }

  h1 {
    font-size: $text-md;
    line-height: 1.05;
    text-decoration: underline;
    margin: $space-sm 0;

    @include media-above("xs") {
      font-size: $text-lg;
    }

    @include media-above("lg") {
      font-size: 4vw;
      margin: 0;
    }
  }
}
