/**
 * @block `nav`
 * -----------------------------------------------------------------------------
 */

.nav--desktop {
  position: fixed;
  top: calc(50% + 2px);
  left: $space-md;
  z-index: 2000;
  transform: translateY(-50%);
  transition: opacity 0.1s ease-in-out;

  @include media-below("lg") {
    display: none;
  }

  .nav__item {
    margin-bottom: $space;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .nav__link {
    position: relative;
    height: 14px;

    &:before {
      content: "";
      display: inline-block;
      width: 14px;
      height: 14px;
      border-radius: 10px;
      border: 1px solid rgba(0, 0, 0, 0.6);
      transition: all 0.7s ease-in-out;
      margin-right: $space;
    }

    span {
      font-family: $base-font-knockout-31;
      opacity: 0;
      font-weight: 400;
      line-height: 1.2;
      position: absolute;
      display: block;
      top: 50%;
      font-size: 14px;
      text-transform: uppercase;
      color: $text-color;
      letter-spacing: 1px;
      width: 220px;
      left: 45px;
      transform: translateY(-50%);
      transition: $base-transition;
      transition-delay: 0.15s;
    }

    &:hover {
      &:before {
        background-color: $brand-black;
        border: 1px solid rgba(0, 0, 0, 1);
      }

      span {
        opacity: 1;
        left: 35px;
      }
    }

    &.is-active {
      &:before {
        background-color: $brand-black;
        border: 1px solid rgba(0, 0, 0, 1);
      }
    }
  }

  &.is-light {
    .nav__link {
      &:before {
        border: 1px solid rgba(255, 255, 255, 0.6);
      }

      span {
        color: #fff;
      }

      &.is-active {
        &:before {
          background-color: #fff;
          border: 1px solid rgba(255, 255, 255, 1);
        }
      }

      &:hover {
        &:before {
          background-color: #fff;
        }
      }
    }
  }
}

.nav--mobile {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  transition: all 0.1s ease-in-out;
  height: 50px;
  width: 100%;

  @include media-above("lg") {
    display: none;
  }

  // &.is-leaving {
  //   opacity: 0;
  // }

  &.is-active {
    background-color: $brand-brownish;

    .nav__list {
      opacity: 1;
      pointer-events: all;
    }
  }

  .nav__list {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: $brand-brownish;
    padding: 0 $space * 1.5 $space;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    // border-radius: 0 0 0 10px;
  }

  .nav__item {
    margin-bottom: $space;

    &:last-child {
      margin: 0;
    }
  }

  .nav__link {
    color: #fff;
    font-family: $base-font-knockout-31;
    font-size: 22px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }

  .nav__icon {
    width: 30px;
    margin-right: $space;
  }

  .nav__icon--social {
    width: 20px;
  }
}

.nav--social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: $space-md;

  li {
    margin-right: 20px;

    &:last-child {
      margin: 0;
    }
  }
}
