.photo-slider {
  min-height: 100%;
  margin-bottom: -9px;

  .photo-slider__img {
    height: 0;
    padding-bottom: 70%;
    background-size: cover;
    width: 100%;
  }
}

.photo-slider__button {
  position: absolute;
  z-index: 1000;
  bottom: $space;

  &.button--prev {
    left: $space;
  }

  &.button--next {
    right: $space;
  }

  @include media-above("md") {
    bottom: $space-md;

    &.button--prev {
      left: $space-md;
    }

    &.button--next {
      right: $space-md;
    }
  }
}

.photo-slider--testimonials {
  height: 100%;
  position: relative;
  margin-bottom: -10px;

  .slick-list {
    height: 100%;
  }

  .photo-slider____item {
  }

  .photo-slider__img {
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
  }
}
